/*Set a maximum width and add fonts to the container.*/
.welcome {
    max-width: 1200px;
    font-family: Open Sans;
}

/*Set a black background for the navigation, center the text, set the search box and button. Set a yellow background for the logo and home button.*/
.wrapper  {
    background-color: black;
    padding: 10px;
}

ul {
    text-align: center;
    padding-right: 40px;
    list-style: none;
    line-height: 4;
}

.home {
    color: black;
    text-decoration: none;

}

.yellow{
    background: #c78c06;
    text-align: center;
    list-style: none;
   }

.logo {
    background-color: #c78c06;
    padding-bottom: 50px;
    padding-right: 61%;
}

.about {
    color: #c78b07;
    text-decoration: none;
}

.services {
    color: #c78b07;
    text-decoration: none;
}

.team {
    color: #c78b07;
    text-decoration: none;
}

.contact {
    color: #c78b07;
    text-decoration: none;
}

#search {
    width: 88%;
    padding: 7px
}

.magnifier {
    background-color: black;
    border-color: #c78b07;
    padding: 7px;
}


/*Set image backgrounds, adjust font colors, and create a transparent black background for fonts and buttons.*/
.banner {
    background-image: url("../images/main-banner.jpg");
    background-size: 100% 100%;
    padding: 50px;
    color: white;
}

.star {
    background-color: #463d37;
    background-color:rgba(0, 0, 0, 0.6);
    
}

h1 {
    font-size: 2.5rem;
}

.star p {
    font-size: 0.2rem;
}

.usbutton {
    background-color: #c78b07;
    padding: 20px;
}

/*Set a color background, adjust the picture and font position*/
.second {
    background-color: #ffe6ac;
    padding: 10px;
}

.second img {
    width: 450px;
}

.second h2 {
    font-size: 2rem;
}

.second p {
    font-size: 0.3rem;
}

/*Set the picture, font, button size and position. Setting the #ffe6ac background*/
.our img {
    width: 466px;
}

.our button {
    padding: 20px;
} 

.our h3 {
    font-size: 1.5rem;
}

.our p {
    font-size: 0.2rem;
}

.digital {
    background-color: #ffe6ac;
}

.digi {
    padding: 10px;
}

.marketing {
    background-color: #ffe6ac;
}

.mark {
    padding: 10px;
}

.video {
    background-color: #ffe6ac;
}

.vide {
    padding: 10px;
}

.web {
    background-color: #ffe6ac;
}

.we {
    padding: 10px;
}

.print {
    background-color: #ffe6ac;
}

.prin {
    padding: 10px;
}

/*Create image backgrounds, set white text and button padding.*/
.vision {
    background-image: url("../images/vision.jpg");
    color: white;
    background-size:100% 100%;
    padding: 10px;
}

.vision p {
    font-size: 0.2rem;
}

.vision button {
    padding: 20px ;
}

/*Create #ffe6ac background, set image size and padding.*/
.team img {
    width: 466px;
}

.team h3 {
    font-size: 1.5rem;
}

.john {
    background-color: #ffe6ac; 
    color: black;
}

.bob {
    background-color: #ffe6ac;
    color: black;
}

.jo {
    padding: 10px;
}

.bo {
    padding: 10px;
}

.black {
    background-color: black;
    color: white;
}

/*Create forms and tables, set table and form dimensions, borders and colors. Add a map.*/
input[type=text] {
    width: 97%;
    margin-top: 10px;
    margin-bottom: 15px;
}    

#message {
    width: 86%;
    height: 40px;
    padding: 28px;
}

.send {
    background-color: black;
    color: #c78c06;
}

td, th {
    border: 2px solid black;
    padding: 10px;
    width: 400px;
}

th {
    background-color: #ffe6ac; 
}

/*Add a black background to the footer*/
footer {
    background-color: black;
    color: #c78c06;
    padding: 10px;
}

/*Create min-width media queries for screen sizes larger than 760px and above*/
@media screen and (min-width: 760px) {
    .welcome {
        margin: auto;
    }
    
    /*Set the navigation layout, display.*/
    .wrapper img {
        width: 80%;
        height: 80%;
    }

    .wrapper {
        background-color:black;
        display: grid;
        grid-template-columns: repeat(auto-fill, 200px);
        grid-gap: 5px;
        grid-auto-rows: 50px;
    }
    
    .navigation {
        text-decoration: none;
        display:inline;
    }
    
    .home {
        background-color: #c78b07;
        color: black;
        text-decoration: none;
    }
    
    .about {
        color: #c78b07;
        text-decoration: none;
    }
    
    .services {
        color: #c78b07;
        text-decoration: none;
    }
    
    .team {
        color: #c78b07;
        text-decoration: none;
    }
    
    .contact {
        color: #c78b07;
        text-decoration: none;
    }

    .banner {
        background-image: url("../images/main-banner.jpg");
        background-size:auto;
        width: 1200px;
        height: 780px;
    }

    /*Set text, picture, button layout. Move the picture to the left.*/
    .banner {
        background-image: url("../images/main-banner.jpg");
        background-size:100% 15 0%;
        padding: 50px;
        color: white;
        width: 1100px;
    }

    .star {
        padding: 10px;
        width: 1000px;
        height: 750px;
    }

    .second img {
        float: left;
        padding-right: 10px;
        padding-bottom: 15px;
    }

    .second {
        padding-left: 80px;
        padding-right: 80px; 
        height: 150px;
    }

    .second h2 {
        font-size: 1rem;
    }
    
    /*Use CSS Grid to set the layout and challenge the position.*/
    .digital {
        background-color: #ffe6ac;
        grid-area: di;
        width: 450px;
        height: 550px;
    }
    
    .marketing {
        background-color: #ffe6ac;
        grid-area: mark;
        width: 450px;
        height: 550px;
    }
    
    .video {
        background-color: #ffe6ac;
        grid-area: video;
        width: 300px;
        height: 450px;
    }
    
    .web {
        background-color: #ffe6ac;
        grid-area: web;
        width: 300px;
        height: 450px;
    }
    
    .print {
        background-color: #ffe6ac;
        grid-area: print;
        width: 300px;
        height: 450px;
    }

    .our {
        text-align: center; 
        padding: 100px;
        margin: auto;
        display: grid;
        gap: 0.5em 0.01em;
        grid-template-columns: repeat(6, 2fr);
  grid-template-rows: repeat(2, 2fr);
        grid-template-areas:
        "di di di mark mark mark"
        "video video web web print print"
    }

    .h2 {
        margin-left: 500;

    } 

    .digital img {
        width: 450px;
    }

    .marketing img {
        width: 450px;
    }

    .video img {
        width: 300px;
    }

    .print img {
        width: 300px;
    }

    .web img {
        width: 300px;
    }

    /*Set padding and image background size.*/
    .vision {
        background: url("../images/vision.jpg");
        padding: 10px;
        padding-left: 70px;
        padding-right: 70px;
        padding-top: 50px;
        background-repeat: no-repeat;
        background-size:80% 80%;
        width: 1450px;
        height: 300px;
    }

    .second img {
        width: 300px;
        height: 150px;
    }

    /*Use CSS Grid to set the arrangement position and order.*/
    .team {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
        "joh jo"
        "bo bobo"
    }

    .cat {
        grid-area: joh;
        width: 1000px;
    }

    .jo {
        grid-area: jo;
        background-color: #ffe6ac;
    }

    .dog {
        width: 400px;
        grid-area: bobo;
    }

    .bo {
        grid-area: bo;
        background-color: #ffe6ac;
    }

    /*Use CSS Flexbox to set the arrangement position and order*/
    .us {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
        "fr ma"
        "ho ho"
    }

    .from {
        grid-area: fr;
    }

    .hours {
        grid-area: ho;
        width: 100%;
    }

    .map {
        grid-area: ma;
    }

    td, th {
        border: 2px solid black;
        padding: 10px;
        width: 1100px;
    }

    .us {
        bottom: 1000px;
    }

    }
    footer {
        padding-left: 100px;
    }
   